###############################################################################
# Project ignores
###############################################################################
# Ignore generated toppar files
/toppar/
chamber_modrna08.str
chamber_ff14sb.str

###############################################################################
# Python ignores
###############################################################################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# Distribution / packaging
*.egg-info/
dist/
build/
# Virtual environments
venv/
.env
# PyCharm
/.idea

